[user]
	name = rdvelazquez
	email = ryan.velazquez@azimuth1.com

[alias]
  co = checkout
  br = branch
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st = status -uno
  stsu = status
  d = difftool
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[github]
    name = rdvelazquez
    email = ryan.velazquez@azimuth1.com

[core]
	editor = /usr/bin/vim
	autocrlf = false
[http]
	sslVerify = false
[credential]
	helper = osxkeychain
